{% extends "main/base.html" %}
{% load thumbnail %}

{% block content %}
        <h1>Информация о посте</h1>
        <p>Автор -  {{post.author}}</p>
        <p>Заголовок - {{post.title}}</p>
        <p>Текст поста - {{post.text}}</p>
        <p>Дата создания - {{post.created_date}}</p>
        
        {% thumbnail post.image "300x300" as im %}
        <img src="{{im.url}}" width="{{im.width}}" height="{{im.height}}">
        {% endthumbnail %}
        <hr>
        {% if request.user == post.author or request.user.id == 1 %}
            <a href="{% url "main:post_update" pk=post.id %}"> Редактировать </a>
        <hr>
            <a href="{% url "main:post_delete" pk=post.id %}"> Удалить </a>
        {% endif %}

{% endblock content %}


